$main-background-dark: hsl(222, 26%, 31%);
$toggle-background-dark: hsl(223, 31%, 20%);
$screen-background-dark: hsl(224, 36%, 15%);
$key-operations-dark: hsl(225, 21%, 49%);
$key-operations-shadow-dark: hsl(224, 28%, 35%);
$key-background-dark: hsl(6, 63%, 50%);
$key-shadow-dark: hsl(6, 70%, 34%);
$key-numbers-background-dark: hsl(30, 25%, 89%);
$key-numbers-shadow: hsl(28, 16%, 65%);

$text-dark: hsl(221, 14%, 31%);
$text-white-dark: hsl(0, 0, 100%);


$main-background-light: hsl(0, 0%, 90%);
$toggle-background-light: hsl(0, 5%, 81%);
$screen-background-light: hsl(0, 0%, 93%);
$key-background-light: hsl(185, 42%, 37%);
$key-shadow-light: hsl(185, 58%, 25%);
$key-operations-light: hsl(25, 98%, 40%);
$key-operations-shadow-ligth: hsl(25, 99%, 27%);
$key-numbers-background-light: hsl(45, 7%, 89%);
$key-numbers-shadow-light: hsl(35, 11%, 61%);

$text-dark-ligth: hsl(60, 10%, 19%);
$text-white-light: hsl(0, 0, 100%);


$main-background-cyberpunk: hsl(268, 75%, 9%);
$toggle-background-cyberpunk: hsl(268, 71%, 12%);
$key-background-cyberpunk: hsl(281, 89%, 26%);
$key-shadow-cyberpunk: hsl(285, 91%, 52%);
$key-operations-cyberpunk: hsl(176, 100%, 44%);
$key-operations-shadow-cyberpunk: hsl(177, 92%, 70%);
$key-numbers-background-cyberpunk: hsl(268, 47%, 21%);
$key-numbers-shadow-cyberpunk: hsl(290, 70%, 36%);

$text-yellow: hsl(52, 100%, 62%);
$number-size: 32px;
$bold: 700;
$spartan: 'Spartan', sans-serif;
