  .calculator{
  max-width: 450px;
  height: 450px;
  &__header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #fff;
  }

  &__screen{
    background: $screen-background-dark;
    width: 100%;
    height: 120px;
    border-radius: 10px;
  }

  &__body{
    background: $screen-background-dark;
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
    padding: 25px 0 25px 25px;
    border-radius: 10px;
    width: 100%;
    height: 100%;
  }

}


main{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 100px 0;
}
